* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

/* ======= Headers Components ======= */
.header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header .logo {
  width: 24px;
  height: 24px;
}

.header .hamburger-menu {
  width: 24px;
  height: 24px;
}

.header h4 {
  font-weight: 600;
}

main {
  padding-inline: 16px;
  margin-bottom: 20px;
}

main .hero .title-and-featured-menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

main .hero .title {
  font-size: 14px;
  font-weight: 600;
}

main .hero .featured-menus,
.all-popular-breakfast-menus .popular-menus,
.all-recommended-breakfast-menus .write-and-photo .recommended-menus {
  width: 30px;
  height: 30px;
}

main .hero .featured-example-menu {
  width: 100%;
}

main .features {
  margin-bottom: 24px;
}

main .features h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}

main .features .meal-name-and-evaluation-score {
  display: flex;
  align-items: center;
}

main .features .meals .meal-name-and-evaluation-score {
  display: flex;
  margin-bottom: 24px;
}

main .features .meals .meal-name-and-evaluation-score .meal-name {
  font-size: 12px;
  color: #52545B;
  background-color: #FFCB65;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 8px;
  margin-right: 16px;
}

main .features .meals .meal-name-and-evaluation-score .evaluation-score {
  display: flex;
}

main .features .meals .meal-name-and-evaluation-score .evaluation-score img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

main .features .meals .meal-name-and-evaluation-score .evaluation-score h6 {
  color: #52545B;
}

main .features .meals .recipe-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
}

main .features .meals .recipe-summary .recipe-detail-card {
  display: flex;
}

main .features .meals .recipe-summary .recipe-detail-card .icon-level {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

main .features .meals .recipe-summary .recipe-detail-card .recipe-detail-text .level {
  font-size: 11px;
  color: #8A8C90;
}

main .features .meals .recipe-summary .recipe-detail-card .recipe-detail-text .name {
  font-size: 14px;
  font-weight: 600;
}

main .features .meals .recipe-summary .right {
  margin-bottom: 24px;
}

main .features .meals .recipe-summary button {
  font-size: 14px;
  font-weight: 500;
  background-color: #C2E66E;
  padding: 13px 95px;
  border-radius: 12px;
  border: none;
  margin-bottom: 32px;
}

/* FeaturedMenus.jsx Component */
main .nutritional-values {
  display: flex;
  justify-content: space-between;
}

main .nutritional-values .left .nutritional-values-detail-card,
main .nutritional-values .right .nutritional-values-detail-card {
  border-radius: 8px;

  width: 152px;
  padding: 12px 0px;
  padding-right: 59px;
  margin-bottom: 12px;
}

main .nutritional-values .left .nutritional-values-detail-card:nth-child(1) {
  background-color: #C2E66E;
}

main .nutritional-values .left .nutritional-values-detail-card:nth-child(2) {
  background-color: #FFA257;
}

main .nutritional-values .right .nutritional-values-detail-card:nth-child(1) {
  background-color: #FFCB65;
}

main .nutritional-values .right .nutritional-values-detail-card:nth-child(2) {
  background-color: #E1E1E2;
}

main .nutritional-values .left .nutritional-values-detail-card {
  display: flex;
}

main .nutritional-values .left .nutritional-values-detail-card img {
  width: 16px;
  height: 16px;
  margin: 8px;
}

main .nutritional-values .right .nutritional-values-detail-card {
  display: flex;
}

main .nutritional-values .right .nutritional-values-detail-card img {
  width: 16px;
  height: 16px;
  margin: 8px;
}

main .all-menus-write-and-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

main .all-menus-write-and-filter .title {
  font-size: 14px;
  font-weight: 600;
}

main .all-menus-write-and-filter label {
  background-color: lightgray;
  padding: 9px 6px;
  border-radius: 8px;
}

main .all-menus-write-and-filter label .icon-filter {
  padding-left: 10px;
  padding-right: 4px;
}

main .all-menus-write-and-filter .icon-down {
  padding-left: 4px;
  padding-right: 10px;
}

main .menu-lists {
  border-radius: 10px;
  background-color: lightgray;
}

main .menu-lists label {
  font-size: 11px;
  padding: 6px 4px;
}

/* ======= BreakfastMenus.jsx Component ======= */
.calory-ranking {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.calory-ranking h6 {
  font-size: 11px;
  font-weight: 400;
}

.calory-ranking label {
  font-size: 11px;
  font-weight: 600;
  background-color: lightgray;
  padding: 9px 10px;
  margin-right: 2px;
  border-radius: 8px;
  margin-left: 10px;
}

.breakfast-card {
  width: 100%;
  background-color: rgb(243, 234, 230);

  margin-top: 16px;
  padding-bottom: 20px;
  border-radius: 16px;
}

.breakfast-card .breakfast-photo-name-button {
  display: flex;
}

.breakfast-card .breakfast-menu-photo {
  width: 152px;
  height: 104px;
  padding: 16px;
}

.breakfast-card .breakfast-name-and-button {
  padding-bottom: 20px;
}

.breakfast-card .breakfast-name-and-button .breakfast-name {
  margin-top: 16px;
  margin-bottom: 20px;
}

.breakfast-card .breakfast-name-and-button .breakfast-add-button {
  background-color: #C2E66E;
  padding: 9px 30px;
  border: none;
  border-radius: 8px;
}

.breakfast-card .meal-type--difficulty-level--health-score-write--star-number--score {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}

.breakfast-card .meal-type--difficulty-level--health-score-write--star-number--score h6 {
  font-weight: 400;
  padding: 4px 10px;
}

.breakfast-card .meal-type--difficulty-level--health-score-write--star-number--score .difficulty-level {
  display: flex;

}

.breakfast-card .meal-type--difficulty-level--health-score-write--star-number--score .difficulty-level h6 {
  padding-top: 8px;
}

.breakfast-card .meal-type--difficulty-level--health-score-write--star-number--score .difficulty-level .icon-level {
  width: 32px;
  height: 32px;
}

.breakfast-card .meal-type--difficulty-level--health-score-write--star-number--score .health-score {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: fit-content;
}

.breakfast-card .meal-type--difficulty-level--health-score-write--star-number--score .star-number {
  display: flex;
  /* dots zaten flex, bu satır .star-number'ı saran div için */
}

.breakfast-card .meal-type--difficulty-level--health-score-write--star-number--score .health-score-write {
  align-self: flex-start;
}

.breakfast-card .star-number .dots {
  display: flex;
  align-items: center;
  gap: 3px;
}

.breakfast-card .star-number .dots .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #E1E1E2;
}

.breakfast-card .star-number .dots .dot.filled {
  background-color: #FFA257;
}

.breakfast-card .nutritional-information-specific-to-the-menu {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  width: 300px;
  margin-inline: 13px;
}

.breakfast-card .nutritional-information-specific-to-the-menu .calory-information,
.breakfast-card .nutritional-information-specific-to-the-menu .vitamin-information,
.breakfast-card .nutritional-information-specific-to-the-menu .protein-information,
.breakfast-card .nutritional-information-specific-to-the-menu .fats-information {
  display: flex;
  align-items: center;
  padding: 8px 3px;
}

.breakfast-card .nutritional-information-specific-to-the-menu img {
  width: 12px;
  height: 12px;
}

.breakfast-card .nutritional-information-specific-to-the-menu h6 {
  font-weight: 400;
  padding: 8px 6px;
  text-align: center;
}

/* ========== All Popular Breakfast Menus Component ========== */
.all-popular-lunch-menus,
.all-popular-dinner-menus {
  margin-top: -32px;
}

.all-popular-breakfast-menus,
.all-popular-lunch-menus,
.all-popular-dinner-menus,
.all-recommended-breakfast-menus {
  background-color: rgb(243, 234, 230);
  padding: 16px;
  margin-inline: -16px;
}

.all-popular-breakfast-menus .all-popular-breakfast-card,
.all-popular-lunch-menus .all-popular-lunch-card,
.all-popular-dinner-menus .all-popular-dinner-card,
.all-recommended-breakfast-menus .all-recommended-breakfast-card {
  background-color: white;
  border-radius: 16px;
  margin-bottom: 16px;
}

.all-popular-breakfast-menus .write-and-photo,
.all-popular-lunch-menus .write-and-photo,
.all-popular-dinner-menus .write-and-photo,
.all-recommended-breakfast-menus .write-and-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-popular-breakfast-menus .all-popular-breakfast-card,
.all-popular-lunch-menus .all-popular-lunch-card,
.all-popular-dinner-menus .all-popular-dinner-card {
  display: flex;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-menu-photo,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-menu-photo,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-menu-photo,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-menu-photo {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  padding: 16px;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-content,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-content,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-content {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name    button"
    "score   meal-type";
  flex: 1;
  align-items: center;
  padding-right: 16px;
  column-gap: 8px;
  row-gap: 8px;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-content .all-popular-breakfast-name,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-content .all-popular-lunch-name,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-content .all-popular-dinner-name,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .all-recommended-breakfast-name {
  grid-area: name;
  font-size: 12px;
  justify-self: start;
  font-weight: 600;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-content .all-popular-breakfast-add-button,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-content .all-popular-lunch-add-button,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-content .all-popular-dinner-add-button {
  grid-area: button;
  justify-self: end;
  background-color: #C2E66E;
  padding: 7px;
  border: none;
  border-radius: 8px;
  width: 28px;
  height: 28px;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-content .meal-type,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-content .meal-type,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-content .meal-type,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .meal-type {
  grid-area: meal-type;
  justify-self: end;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-content .meal-type h6,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-content .meal-type h6,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-content .meal-type h6 {
  font-size: 11px;
  font-weight: 400;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-content .health-score--score,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-content .health-score--score,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-content .health-score--score,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score {
  display: flex;
  align-items: center;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu {
  display: flex;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .calory-information,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .vitamin-information,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .protein-information,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .fats-information {
  display: flex;
  align-items: center;
  padding: 8px 3px;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-content .health-score--score .health-score .star-number .star,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-content .health-score--score .health-score .star-number .star,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-content .health-score--score .health-score .star-number .star {
  width: 12px;
  height: 12px;
}

.all-popular-breakfast-menus .all-popular-breakfast-card .all-popular-breakfast-content .health-score--score .score h6,
.all-popular-lunch-menus .all-popular-lunch-card .all-popular-lunch-content .health-score--score .score h6,
.all-popular-dinner-menus .all-popular-dinner-card .all-popular-dinner-content .health-score--score .score h6 {
  font-weight: 400;
}

/* .all-recommended-breakfast-menus .all-recommended-breakfast-card {
  display: flex;
} */

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-menu-photo--all-recommended-breakfast-name--all-recommended-breakfast-add-button--meal-type--all-recommended-breakfast-add-button--meal-type {
  display: flex;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-menu-photo--all-recommended-breakfast-name--all-recommended-breakfast-add-button--meal-type--all-recommended-breakfast-add-button--meal-type .all-recommended-breakfast-name--all-recommended-breakfast-add-button--meal-type {
  display: flex;
  flex-direction: column;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-menu-photo--all-recommended-breakfast-name--all-recommended-breakfast-add-button--meal-type--all-recommended-breakfast-add-button--meal-type .all-recommended-breakfast-name {
  margin-bottom: 26px;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-menu-photo--all-recommended-breakfast-name--all-recommended-breakfast-add-button--meal-type--all-recommended-breakfast-add-button--meal-type .all-recommended-breakfast-name--all-recommended-breakfast-add-button--meal-type .all-recommended-breakfast-add-button--meal-type {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-menu-photo--all-recommended-breakfast-name--all-recommended-breakfast-add-button--meal-type--all-recommended-breakfast-add-button--meal-type .all-recommended-breakfast-name--all-recommended-breakfast-add-button--meal-type .all-recommended-breakfast-add-button--meal-type .all-recommended-breakfast-add-button {
  background-color: #C2E66E;
  margin-right: 17px;
  border: none;
  border-radius: 8px;
  width: 28px;
  height: 28px;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score {
  display: flex;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  width: 300px;
  margin-inline: 13px;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .calory-information img,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .vitamin-information img,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .protein-information img,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .fats-information img {
  width: 12px;
  height: 12px;
}

.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .calory-information h6,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .vitamin-information h6,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .protein-information h6,
.all-recommended-breakfast-menus .all-recommended-breakfast-card .all-recommended-breakfast-content .health-score--score .nutritional-information-specific-to-the-menu .fats-information h6 {
  font-weight: 400;
  padding: 8px 6px;
}