* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

/* ======= Headers Components ======= */
.header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header .logo {
  width: 24px;
  height: 24px;
}

.header .hamburger-menu {
  width: 24px;
  height: 24px;
}

.header h4 {
  font-weight: 600;
}

main {
  padding-inline: 16px;
  margin-bottom: 20px;
}

main .hero .title-and-featured-menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

main .hero .title {
  font-size: 14px;
  font-weight: 600;
}

main .hero .featured-menus {
  width: 30px;
  height: 30px;
}

main .hero .featured-example-menu {
  width: 100%;
}

main .features {
  margin-bottom: 24px;
}

main .features h3 {
  font-size: 22px;
  font-weight: 600;
}